---
---

nav {
	margin-bottom: auto;
}

.content {
	flex: 1 1;
	display:block;
	margin: auto;
	padding: 2em;
	border-radius: 0.5em;

	background-color: $middle;
	min-height: 40vh;
	width: 600px;
}

footer {
	margin-top: auto;
}