.main-content {
  margin: 4em;
  margin-top: 5.5em;
}
// Styles for screens bigger than 830px
@media screen and (min-width: 830px) {
  .main-content {
    margin: 4em;
    margin-top: 9em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  nav {
    top: 0;
    bottom: auto !important;
  }
  header {
    top: 3em !important;
    background-color: #3f4d48 !important
  }
}

footer {
  margin: 2em;
  margin-top: 0;
}

nav {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $nav;
  justify-content: space-around;
  align-items: baseline;
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.nav-hidden {
  transform: translateY(100%);
}

/* Hide scroll bar on mobile */
body {
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in webkit */
  overflow-y: scroll; /* enables vertical scrolling */
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE 10+ */
}

.content {
  flex: 1 1;
  display: block;
  padding: 3em;
  padding-top: 1em;
  border-radius: 0.5em;

  background-color: $page;
  min-height: 40vh;
}

.bio {
  @extend .content;
}

.tags-section {
  @extend .bio;
  margin-top: 8em;
  min-height: fit-content;
  margin-bottom: 1em;
  .tag {
    background-color: $tag;
    padding: 0.5em;
    display: block;
    border-radius: 0.5em;
    width: fit-content;
    align-items: center;
    &:hover {
      background-color: $hover-tag;
      a {
        color: $hover-text;
      }
    }
  }
}

header {
  display: block;
  padding: 0.5em;

  justify-content: center;
  align-items: center;
  padding: 0.5em;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $nav;
  text-align: center;
  p {
    line-height: normal;
    margin: 0;
  }
}

.list {
  margin-bottom: 4em;
  li {
    line-height: 2.5;
  }
}

.date {
  font-style: italic;
  color: $hover-text;
}

hr {
  margin-top: 6em;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4em;

  input,
  textarea {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
  }

  textarea {
    min-height: 12em;
  }
}
