$nav: #2f3633;
$body: #516157;
$page: #3a453a;
$tag: #465646;
$hover-tag: #637963;
$highlight: #BFC9B0;
$highlight-text: #42443d;
$text: #d9dad4;
$sp-text: darken($page, 7%);
$hover-text: #b4b997;