<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}{{ page.title }} | frappy writer{% else %}{{ site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
  {% include nav.html %}
  <div class="main-content">
    <section class="content">
      {{ content }}
    </section>
    <aside>
      {% include bio.html %}
      {% include tags.html %}
    </aside>
  </div>

  {% include footer.html %}
</body>

</html>