---
layout: default
---

{{ content }}

{% if page.poem_collection %}
<hr>
<a href="/poems/collections/{{page.poem_collection}}">Go back to {{page.poem_collection}} collection</a>
{% endif %}

<div class="feedback-section">
	<form id="feedback-form">
		<h3>Please give me feedback, I'd love to know what you thought of this Piece!</h3>
		<input id="user-name" name="user_name" type="text" placeholder="Enter a username" required>
		<textarea id="user-feedback" name="feedback_text" placeholder="What were your thoughts?" required></textarea>
		<input type="hidden" name="page_name" value="{{page.title}}">
		<input type="submit" value="Submit">
	</form>
</div>

<script type="text/javascript" src="{{ '/assets/js/feedback.js' | relative_url }}"></script>
